.errandlr_premium_delivery {
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px !important;
  background: #d3d3d357 !important;
  padding-left: 10px !important;
  padding-right: 5px !important;
  width: 100% !important;
  border-radius: 3px !important;
  line-height: 16px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border: 1px solid #dadada !important;
  cursor: pointer !important;
  transition: 0.5s !important;
}

.errandlr_premium_delivery:hover {
  background: #9895956e !important;
}

.errandlr_economy_delivery {
  padding: 0px !important;
  margin: 10px 0px !important;
  font-size: 13px !important;
  background: #d3d3d357 !important;
  padding-left: 10px !important;
  padding-right: 5px !important;
  width: 100% !important;
  border-radius: 3px !important;
  line-height: 16px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border: 1px solid #dadada !important;
  cursor: pointer !important;
  transition: 0.5s !important;
}

.errandlr_economy_delivery:hover {
  background: #9895956e !important;
}

.errandlr_container_div {
  margin-top: 5px !important;
}

.errandlr_active {
  background: beige !important;
}
